{% extends "layouts/app.twig" %}

{% block content %}
    <div class="masonry p-rel">
        <div class="item-def"></div>
        <div class="item-def"></div>
        <div class="item-def"></div>
        <div class="item-def"></div>
        <div class="item-def"></div>
        <div class="item-def"></div>
        <a href="#" class="download_btn">DOWNLOAD</a>
    </div>
{#
        <div class="item-def add"></div>
#}
    </div>
{% endblock %}